<h1>Tweets#edit</h1>
<p>Find me in app/views/tweets/edit.html.erb</p>

<div class="row my-3 py-3 border-top">
  <%= form_for @tweet, html: {class: "col-12"} do |f| %>
  <p class="row px-3">
    <%= f.label :body,"ツイート", class: "col-10 col-md-2" %>
    <%= f.text_field :body, class: "col-10 col-md-auto" %>
  </p>
  <p class="row px-3">
    <%= f.file_field :image, class: "col-12" %>
  </p>
  <%= f.submit "ツイート更新", class: "btn btn-success btn-sm" %>
  <% end %>
  <p class="col-12 p-3"><span><%= link_to "戻る", tweet_path(@tweet.id), class: "btn btn-primary btn-sm" %></span></p>
</div>
