<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<p><span>email: </span><%= @user.email %></p>
<p><span>ツイート内容: </span><%= @tweet.body %></p>
<% if @tweet.image? %>
<p><%= image_tag @tweet.image.url %></p>
<% end %>

<% if current_user != @user %>
  <% if @user.followed_by?(current_user) %>
    <p><%= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
    <% else %>
    <p><%= link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
  <% end %>
<% else %>
  <p><%= link_to "EDIT", edit_tweet_path(@tweet.id) %></p>
  <p><%= link_to "x", tweet_path(@tweet.id), method: :delete %></p>
<% end %>

<hr>
<p><span>コメント一覧: </span></p>
<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.body %> (<%= comment.created_at %>)</li>
  <% end %>
</ul>
<% if user_signed_in? %>
  <%= form_for([@tweet, @comment]) do |f| %>
    <p>
      <%= f.label :body, "コメント" %>
      <%= f.text_field :body %>
    </p>
    <%= f.submit %>
  <% end %>
<% end %>
